@font-face {
    font-family: 'CherryBomb';
    src: url('fonts/CherryBomb.ttf');
}

.label {
    -fx-font-family: 'Cherry Bomb One';
    -fx-font-size: 64;
}


.button .text {
    -fx-font-family: 'Cherry Bomb One';
}