@font-face {
    font-family: 'Boldins';
    src: url('fonts/Boldins.ttf');
}

@font-face {
    font-family: 'CherryBomb';
    src: url('fonts/CherryBomb.ttf');
}

.labelBoldins {
    -fx-font-family: 'Boldins';
    -fx-font-size: 36;
}

.labelTimer {
    -fx-font-family: 'Boldins';
    -fx-font-size: 64;
}

.labelCherry {
    -fx-font-family: 'CherryBomb';
    -fx-font-size: 36;
}

.button .text {
    -fx-font-family: 'CherryBomb';
}